* {
  box-sizing: border-box; }

body {
  background-color: #1a1aff; }
  body .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; }
    body .app div {
      width: 650px;
      height: auto;
      background-color: #ccc; }
      body .app div h1 {
        background-color: #000066;
        color: #ffc14d;
        font-size: 40px;
        padding: 15px;
        text-align: center;
        margin: 0 auto; }
      body .app div h2 {
        color: #000066;
        font-size: 32px;
        padding: 10px;
        text-align: center;
        margin: 0 auto 10px auto;
        background-color: #ffc14d; }
      body .app div .panel_title {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        body .app div .panel_title h3 {
          display: inline-block;
          width: 100px;
          text-align: center;
          background-color: #000066;
          color: #ffc14d;
          font-size: 15px;
          padding: 5px;
          border-radius: 5px 5px 0 0;
          margin: 0; }
      body .app div .panel_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
      body .app div button {
        height: 100px;
        width: 100px;
        border: 2px solid #000066;
        border-radius: 0 0 5px 5px;
        padding: 0;
        cursor: pointer;
        transition: 1s linear; }
        body .app div button:hover {
          filter: invert(100%); }
        body .app div button img {
          height: 94px;
          width: 94px; }
    body .app .gif {
      margin: 10px auto;
      padding: 0;
      width: 568px;
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      border: none;
      background-color: #ffc14d; }
      body .app .gif .gif_image {
        width: 568px;
        height: 400px; }
