* {
  box-sizing: border-box;
}
body {
   background-color: #1a1aff;
  .app {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      div {
        width: 650px;
        height: auto;
        background-color: #ccc;
        h1 {
          background-color: #000066;
          color: #ffc14d;
          font-size: 40px;
          padding: 15px;
          text-align: center;
          margin: 0 auto;
        }
        h2 {
          color: #000066;
          font-size: 32px;
          padding: 10px;
          text-align: center;
          margin: 0 auto 10px auto;
          background-color: #ffc14d;
        }
        .panel_title {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          h3 {
            display: inline-block;
            width: 100px;
            text-align: center;
            background-color: #000066;
            color: #ffc14d;
            font-size: 15px;
            padding: 5px;
            border-radius: 5px 5px 0 0;
            margin: 0;
          }
        }
        .panel_buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;;
        }
        button {
          height: 100px;
          width: 100px;
          border: 2px solid #000066;
          border-radius: 0 0 5px 5px;
          padding: 0;
          cursor: pointer;
          transition: 1s linear;
          &:hover {
            filter: invert(100%);
          }
          img {
            height: 94px;
            width: 94px;
          }
        }
      }
      .gif {
        margin: 10px auto;
        padding: 0;
        width: 568px;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        border: none;
        background-color: #ffc14d;

          .gif_image {
            width: 568px;
            height: 400px;
          }
      }
    }
}
